body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 100px;
  width: 100vw;
  height: 100vh;
  background: #f0f0f0;
}

div, input {
  outline: 1px solid red;
}

.container {
  position: relative;
  top: 0;
  left: 0;
  width: 700px;
  height: 930px;
  background: url("/ОНКО.jpg");
  background-size: cover;
  display: grid;
  justify-items: center;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
}


.header-container{
  width: 290px;
  height: 60px;
  position: relative;
  top: 16px;
  right: 100px;
  display: flex;
  flex-direction: column;
  gap: 5px;

  grid-column: 3;
  grid-row: 1;
}

.center-container{
  width: 390px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 21px;
  top: 59px;
  left: -68px;

  background-color: antiquewhite;
  opacity: 0.5;

  grid-column: 2;
  grid-row: 2;
}

.bottom-container{
  bottom: 70px;
  right: 216px;
  width: 130px;
  background-color: antiquewhite;
  opacity: 0.5;
}

.container-field{
  position: absolute;
}

.form-field.top-input{
  width: 280px;
}

.bottom-input.form-field{
  width: 125px;
}

.form-field {
  width: 385px;
  font-size: 14px;
  color: #000;
  font-weight: bold;
  border: 1px solid #000;
  background: transparent;
  padding: 2px;
}

.print-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  font-size: 16px;
  background: #007BFF;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.print-btn:hover {
  background: #0056b3;
}

@media print {

  body {
    margin: 0;
    color: #000;
    background-color: #fff;
  }

  #container {
    position: absolute;
    top: 0;
    left: 31mm;
  }

  .header-container{
    position: absolute;
    top: 4mm;
    right: 26mm;
  }

  .center-container{
    position: absolute;
    top: 98mm;
    left: 36mm;
  }

  button {
    display: none; /* Приховуємо кнопку під час друку */
  }

  @page {
    size: A5; /* Встановлюємо розмір сторінки в альбомному режимі */
    margin: 10mm; /* Поля для друку */
  }
}



